
<div class="container">
  <div class="col-md-4 col-md-offset-4">

    <h4>Login</h4>
    <form novalidate (ngSubmit)="login(f)" #f="ngForm">
      <div class="userData" ngModelGroup="userData" #userData="ngModelGroup">
        <div class="form-group">
          <label for="">Username</label>
          <input type="text"
          class="form-control"
           ngModel
           name="username"
           required>
        </div>

        <div class="form-group">
          <label for="">Password</label>
          <input type="password"
          class="form-control"
          ngModel name="password"
          required>
        </div>
        <button class="btn btn-primary" [disabled]="!f.valid" type="submit">Submit</button>
      </div>

    </form>
    <br>
    <a [routerLink]="['/register']" >Not a user? Sign up here</a>
  </div>
</div>
