
<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a href="../" class="navbar-brand">MEAN Authentication</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main" >
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/psalmdawg/NG2-Login-Skeleton" target="_top"><img class="login-image img-circle" src="../../assets/github.png" alt=""></a></li>
        <li><a href="http://www.psalmdawg.com" target="_top"><img class="login-image img-circle" src="../../assets/paulie.jpg" alt=""></a></li>
      </ul>
    </div>
  </div>
</div>

<!-- <alert></alert> -->
<router-outlet></router-outlet>

<!-- credits -->

todos
<br>
sort out error alerts
<br>
sort out routtes
<br>
sort out whos logged in feature
<br>
<br>
